<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enrol Enhancement</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <!--<link rel="stylesheet" href="styles/newFormat.css">-->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="javaScriptFile.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="antixss.js" type="text/javascript"></script>
</head>
<body class="body-format">
   <div data-role="page" id="maindiv" class="mainSection">
	  <div data-role="header">
	  <h1>Enter Enhancement Details</h1>
	  </div>
	  <div data-role="main" class="ui-content">
		  <fieldset data-role="collapsible">
			<legend>General Information</legend>
          <div >
              <table >
                  <tr>
                      <td>
                          <label for="user" class="label">Request Number</label>
                      </td>
                      <td>
                          <input id="RequestNumber" type="text" class="input">
                      </td>
                      <td>

                          <label for="pass" class="label">Change Order Number</label>
                      </td>
                      <td>
                          <input id="ChangeOrderNumber" type="text" class="input">
                      </td>
                      </tr>

              </table>
          </div>
          <div>
              <label for="pass" class="label">Description</label>
              <textarea name="Description" id="Description" rows="10" cols="30"></textarea>
          </div>
          <div>
              <table >
                  <tr>
                      <td>
                          <label for="pass" class="label">Category</label>
                      </td>
                      <td>
                          <select id="Category">
                              <option value="AECOM Oracle">AECOM Oracle</option>
                              <option value="HR">HR</option>
                              <option value="SalesforceCore">Salesforce Core</option>dara
                              <option value="HRIS">HRIS</option>
                          </select>
                      </td>
                      <td></td><td></td><td></td>
                      <td>
                          <label for="pass" class="label">Status</label>
                      </td>
                      <td>
                          <select id="Status">
                              <option value="AECOM Oracle">Closed</option>
                              <option value="HR">UAT completed</option>
                              <option value="SalesforceCore">Implemented</option>
                              <option value="HRIS">Development</option>
                          </select>
                      </td>

                      <td>
                          <label for="pass" class="label">Priority</label>
                      </td>
                      <td>
                          <select id="Priority">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                          </select>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                          <label for="pass" class="label">Impact</label>
                      </td>
                      <td>
                          <select id="Impact">
                              <option value="Medium">Medium</option>
                              <option value="High">High</option>
                              <option value="Low">Low</option>
                          </select>
                      </td>

                      <td>
                          <label for="pass" class="label">Change Type</label>
                      </td>
                      <td>
                          <select id="ChangeType">
                              <option value="Normal">Normal</option>
                              <option value="Expedited">Expedited</option>
                          </select>
                      </td>

                  </tr>

              </table>
              
          </div>
          <div class="group">
              <label for="pass" class="label">Assignee</label>
              <input id="Assignee" type="text" class="input">
          </div>
          
		  </fieldset>

          <div>
              <p id="blankpannel"></p>
          </div>

            <fieldset data-role="collapsible">
            <legend>Dates</legend>
            <div>
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <label for="user" class="label">Open Date</label>
                                    </td>
                                    <td>
                                        <input id="OpenDate" type="date" class="input">
                                    </td>
                                    <td style="padding-left:40px">
                                        <label for="pass" class="label">Planned Start Date</label>
                                    </td>
                                    <td>
                                        <input id="PlannedStartDate" type="date" class="input">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="user" class="label">Planned End Date</label>
                                    </td>
                                    <td>
                                        <input id="PlannedEndDate" type="date" class="input">
                                    </td>
                                    <td style="padding-left:40px">
                                        <label for="pass" class="label">Revised End Date</label>
                                    </td>
                                    <td>
                                        <input id="RevisedEndDate" type="date" class="input">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="user" class="label">Actual Start Date</label>
                                    </td>
                                    <td>
                                        <input id="ActualStartDate" type="date" class="input">
                                    </td>
                                    <td style="padding-left:40px">
                                        <label for="pass" class="label">Actual End Date</label>
                                    </td>
                                    <td>
                                        <input id="ActualEndDate" type="date" class="input">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="user" class="label">UAT Release Date</label>
                                    </td>
                                    <td>
                                        <input id="UATReleaseDate" type="date" class="input">
                                    </td>
                                    <td style="padding-left:40px">
                                        <label for="pass" class="label">Production Deployment Date</label>
                                    </td>
                                    <td>
                                        <input id="ProductionDeploymentDate" type="date" class="input">
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Month</th>
                                        <th>Year</th>
                                        <th>Hours(Planned)</th>
                                        <th><input type="button" id="addProductRow" value="+"></th>
                                        <th><input type="button" id="removeProductRow" value="-"></th>
                                    </tr>
                                </thead>
                                <tbody id="productRows">
                                    <tr>
                                        <td><select>
                                            <option>Jan</option>
                                                <option>Feb</option>
                                                <option>Mar</option>
                                                <option>Apr</option>
                                                <option>May</option>
                                                <option>Jun</option>
                                                <option>Jul</option>
                                                <option>Aug</option>
                                                <option>Sep</option>
                                                <option>Oct</option>
                                                <option>Nov</option>
                                                <option>Dec</option>
                                            </select></td>
                                        <td><select>
                                            <option>
                                                2016
                                            </option>
                                                <option>
                                                    2017
                                                </option>
                                                <option>
                                                    2018
                                                </option>
                                            </select></td>
                                        <td><input type="text" name="hour"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                
            </div>
            
        </fieldset>
        <div>
            <p id="blankpannel1"></p>
        </div>

        <fieldset data-role="collapsible">
            <legend>Others</legend>
            <div>
                <table id="otherstable">
                    <tr>
                        <td>
                            <label for="user" class="label">Functional Tester</label>
                        </td>
                        <td>
                            <input id="FunctionalTester" type="text" class="input">
                        </td>
                        <td style="padding-left:40px">
                            <label for="pass" class="label">Original Estimated Hours</label>
                        </td>
                        <td>
                            <input id="OriginalEstimatedHours" type="text" class="input">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="user" class="label">Revised Estimated Hours</label>
                        </td>
                        <td>
                            <input id="RevisedEstimatedHours" type="text" class="input">
                        </td>
                        <td style="padding-left:40px">
                            <label for="pass" class="label">ITD Hours Actual</label>
                        </td>
                        <td>
                            <input id="ITDHoursActual" type="text" class="input">
                        </td>
                    </tr>
                   

                </table>
            </div>

        </fieldset>
        

	  </div>
        <div data-role="footer">
            <p align="center" style="column-fill">
                <input type="submit" data-inline="true" value="Submit" onclick="myFunction()">
            </p>
        </div>
       <div>
              <p id="blankpannel"></p>
          </div>
       
       <div>
               




           <table>
               <tr>
                   <td>
                       <input id="SearchBox" type="text" class="input" oninput="SearchGridNames()">
                   </td>
                   <td>
                       <button onclick="exportExcel()()">  Export to Excel</button> 
                   </td>
               </tr>

           </table>






          </div>
       
        <div id="gridDiv">
            <style>
                table#tableGrid {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }

                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
            </style>
            <table id="tableGrid" style="background-color:azure ActiveBorder:aliceblue">
                <thead>
                    <tr>
                        <th width="100px" id="RequestId" hidden="hidden">RequestId</th>
                        <th width="100px" id="RequestNumber">RequestNumber</th>
                        <th width="100px" id="CONumber">CONumber</th>
                        <th width="100px" id="Status">Status</th>

                        <th width="100px" id="Action">Action</th>

                        <th width="100px" id="Description">Description</th>
                        <th width="100px" id="Track">Track</th>
                        <th width="100px" id="Category">Category</th>

                        <th width="100px" id="Priority">Priority</th>
                        <th width="100px" id="Impact">Impact</th>
                        <th width="100px" id="ChangeType">Change Type</th>

                        <th width="100px" id="Assignee">Assignee</th>
                        <th width="100px" id="OpenDate">Open Date</th>
                        <th width="100px" id="FunctionalTester">Functional Tester</th>

                        
                    </tr>
                </thead>
                <tbody id="ibody"></tbody>
            </table>
        </div>
	</div>
</body>
</html>